<%- include('../layout/head') %>
    <link rel="stylesheet" href="/cart.css">
    </head>

    <body>
        <%- include('../layout/navbar') %>
            <h3>
                Cart Page
                <% if(products.length> 0) { products.forEach(prod => { %>

                    <div class="row">
                        <div class="column">
                            <h2>
                                <%= prod.title %>
                            </h2>
                            <!-- <p>Content for column 1</p> -->
                        </div>
                        <div class="column">
                            <h2>
                                <%= prod.price%>
                            </h2>
                            <!-- <p>Content for column 2</p> -->
                        </div>
                        <div class="image-column">
                            <img src="<%= prod.imageUrl %>" alt="Image">
                        </div>
                        <div class="column">
                            <h2>
                                <%= prod.quantity %>
                            </h2>
                        </div>

                        <div class="column">
                            <h2>
                                <%= prod.price %>
                            </h2>
                        </div>
                        <div class="column">
                            <h2>
                                <%= +prod.price * +prod.quantity %>
                            </h2>
                        </div>
                        <div class="column">
                            <form action="shop/delete-cart-item" method="POST">
                                <h2>
                                    <input type="submit" value="DeleteItem">
                                    <input type="hidden" name="productId" value="<%= prod.id %>">
                                    <input type="hidden" name="productPrice" value="<%= prod.price %>">
                                </h2>
                            </form>
                        </div>
                    </div>
                    <hr>


                    <% })} else { %>
                        No Product Is In cart
                        <% } %>
            </h3>

            <%- include('../layout/tail') %>