<%- include('../layouts/head.ejs') %>
<link rel="stylesheet" href="/admin.css">
    </head>

    <body>
        <% if (errorMessage) {%>
        <div class="user-message user-message--error">
            <p><%=  errorMessage %></p>
        </div>
        <%}%>
        <h3>Reset Password</h3><br />
            <form action='/auth/set-password' class="main-form" method='POST'><br>
                
                <label for="password">Password</label>
                <input type='password' name='password' id="password" /><br>

                <label for="confirm_password">Confirm Password</label>
                <input type='password' name='confirm_password' id="confirm_password" /><br>

                <input type="hidden" name="_csrf" value="<%= csrf %>">
                <input type="hidden" name="resetToken" value="<%= resetToken %>">
                <input type="hidden" name="userId" value="<%= userId %>">
                <button style="color: white; background-color: green;" type='submit'>Reset Password</button>
                  
                <a  href="/auth/login">Goto login</a>

                
            </form>
            <%- include('../layouts/tail') %>