<nav>
    <ul>
        <li> 
            <a class="<%= path === '/' ? 'active' : ''%>" href="/">Home</a> 
        </li>

        <% if (isAuthenticated) {%>
            <li>
                <a class="<%= path === '/admin' ? 'active' : ''%>" href="/admin">Admin</a>
            </li>
            
            <li>
                <a class="<%= path === '/admin/add-product' ? 'active' : ''%>" href="/admin/add-product">Add product</a>
            </li>

            <li style="float: right;">
                <a class="<%= path === '/auth/login' ? 'active' : ''%>" href="/">Logout</a>
            </li>
         <% }%>

        <li>
            <a class="<%= path === '/admin/products' ? 'active' : ''%>" href="/admin/products">All product</a>
        </li>

        <li>
            <a class="<%= path === '/shop' ? 'active' : ''%>" href="/shop">Shop</a>
        </li>

        <li>
            <a class="<%= path === '/shop/cart' ? 'active' : ''%>" href="/shop/cart">Cart</a>
        </li>

        <li>
            <a class="<%= path.includes('/shop/product-details') ? 'active' : ''%>" href="/shop/product-details/64ef39fe4c83f74be8a86a73">Product</a>
        </li>

        <li>
            <a class="<%= path === '/shop/checkout' ? 'active' : ''%>" href="/shop/checkout">Checkout</a>
        </li>

        <li>
            <a class="<%= path === '/shop/orders' ? 'active' : ''%>" href="/shop/orders">Orders</a>
        </li>
        <% if (!isAuthenticated) {%>
        <li style="float: right;">
            <a class="<%= path === '/auth/login' ? 'active' : ''%>" href="/auth/login">Login</a>
        </li>
        <% } %>
    </ul>
</nav>