<%- include('../layouts/head') %>
    <link rel="stylesheet" href="/admin.css">
    </head>

    <body>
        <%- include('../layouts/navigation') %>
            <h3>Update Product Page</h3><br />
            <form action='/admin/edit-product' class="main-form" method='POST'>
                <label for="title">Title</label><br>
                <input type='text' name='title' id="title" value="<%= product.title %>" /><br><br>

                <label for="imageUrl">Image URL</label><br>
                <input type='text' name='imageUrl' id="imageUrl" value="<%= product.imageUrl %>" /><br><br>

                <label for="title">Price</label><br>
                <input type='number' name='price' id="price" value="<%= product.price %>" /><br><br>

                <label for="title">Description</label><br>
                <textarea type='text' name='description' id="description"
                    rows="5"> <%= product.description %> </textarea>
                <br><br><br>

                <input type='hidden' name='productId' id="prodictId" value="<%= product._id %>" /><br><br>

                <input type='submit' value="Edit Product">
            </form>

            <%- include('../layouts/tail') %>