<%- include('../layouts/head') %>
    <link rel="stylesheet" href="shop.css">
    </head>

    <body>
        <%- include('../layouts/navigation') %>
            <h3>In Home Page</h3><br />
            <a href='/add-product'>Go To Add Product</a>
            <div class="shop-container">
                <% if( products && products.length> 0) {
                    products.forEach(product => { %>
                    <div class="mini-card">
                        <img alt="<%= product.title %>" src='<%= product.imageUrl %>'>
                        <h2>

                            <%= product.title %>
                        </h2>
                        <span>
                            <%= product.description.length < 100 ? product.description :
                                product.description.substr(0,100) + "..." %>
                        </span>
                        <span>
                            Rs. <%= product.price %> /-
                        </span>
                        <div>
                            <a href="/shop/checkout">
                                <button>Checkout</button>
                            </a>
                            <a href="/shop/product-details/<%= product._id %>">
                                <button>Details</button>
                            </a>
                            <% if (isAuthenticated) {%>

                            <form action="/shop/cart" method="post">
                                <input type="hidden" name="productId" value="<%= product._id %>">
                                <input type="hidden" name="price" value="<%= product.price %>">
                                <button type="submit">Add to Cart</button>
                            </form>
                            <%}%>
                        </div>
                    </div>
                    <% }) } else { %>
                        <h3>No Product is Available</h3>
                        <% } %>
                            <%- include('../layouts/tail') %>
            </div>