<nav>
    <ul>
        <li> <a class="<%= path === '/' ? 'active' : ''%>" href="/">Home</a> </li>
        <li><a class="<%= path === '/admin' ? 'active' : ''%>" href="/admin">Admin</a></li>
        <li><a class="<%= path === '/admin/add-product' ? 'active' : ''%>" href="/admin/add-product">Add product</a></li>
        <li><a class="<%= path === '/admin/products' ? 'active' : ''%>" href="/admin/products">All product</a></li>
        <li><a class="<%= path === '/shop' ? 'active' : ''%>" href="/shop">Shop</a></li>
        <li><a class="<%= path === '/shop/cart' ? 'active' : ''%>" href="/shop/cart">Cart</a></li>
        <li><a class="<%= path === '/shop/product' ? 'active' : ''%>" href="/shop/product-details">Product</a></li>
        <li><a class="<%= path === '/shop/checkout' ? 'active' : ''%>" href="/shop/checkout">Checkout</a></li>
    </ul>
</nav>